# Ignore node_modules
node_modules/

# Ignore package-lock.json (if you don't need it inside the image)
package-lock.json

# Ignore package.json if not needed in the final image (optional)
package.json
